@mixin background-image($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin media-query($size) {
  @media (max-width: #{$size}) {
    @content;
  }
}

@mixin media-query-and($size1, $size2) {
    @media (min-width: #{$size1+1}) and (max-width: #{$size2}) {
      @content;
    }
  }
  
