@use "variables" as *;
@use "mixins" as *;

.main-container__wrap {
  @include background-image("../images/desktop/image-header.jpg");
  background-position: bottom;
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    position: relative;

    &__title {
      color: map-get($neutral-colors, "white");
      text-transform: uppercase;
      font-size: map-get($font-size, "large");
    }

    &__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 8rem;

      &__item {
        list-style: none;
        display: inline-block;

        &__content {
          text-decoration: none;
          color: map-get($neutral-colors, "white");
          font-size: map-get($font-size, "medium");
          font-weight: 500;

          &--btn {
            color: map-get($neutral-colors, "very-dark-desaturated-blue");
            background-color: map-get($neutral-colors, "white");
            padding: 0.5rem 1.5rem;
            border-radius: 2rem;
            text-transform: uppercase;
          }
        }
      }
    }

    &__toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      width: 5rem;
      padding: 1rem;
      overflow: hidden;
      display: none;

      & div {
        height: 0.2rem;
        width: 100%;
        background-color: map-get($neutral-colors, "white");
        transition: all 0.5s ease-in-out;
      }

      &:hover {
        & > div:nth-of-type(1) {
          transform-origin: 0% 0%;
          transform: rotate(45deg) translate(5px, -3px);
        }

        & > div:nth-of-type(2) {
          opacity: 0;
        }

        & > div:nth-of-type(3) {
          transform: rotate(-45deg) translate(8px, -9px);
        }
      }
    }

    @include media-query-and(
      map-get($breakpoints, "tablet"),
      map-get($breakpoints, "desktop")
    ) {
      &__list {
        &__item {
          &__content {
            &--btn {
              &:hover {
                color: map-get($neutral-colors, "white");
                background-color: map-get($primary-colors, "dark-moderate");
              }
            }
          }
        }
      }
    }

    @include media-query(map-get($breakpoints, "tablet")) {
      &__toggle {
        display: flex;
        position: relative;
      }

      &__list {
        position: absolute;
        top: 100%;
        background-color: map-get($neutral-colors, "white");
        left: 5%;
        right: 5%;
        flex-direction: column;
        gap: 2rem;
        padding: 1.5rem;

        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: -10%;
          border-top: 10px solid transparent;
          border-left: 10px solid transparent;
          border-right: 10px solid white;
          border-bottom: 10px solid white;
        }

        &__item {
          &__content {
            color: map-get($neutral-colors, "very-dark-desaturated-blue");

            &--btn {
              background-color: map-get($primary-colors, "yellow");
              color: map-get($neutral-colors, "white");
            }
          }
        }
      }
    }
  }
}
